.text-center {
    text-align: center;
}

.inactive {
    display: none;
}

.invisible {
    visibility: hidden;
}

.pagination-buttons {
    margin: 1rem;
    display: flex;
    justify-content: space-between;

    .next-page-nav-button, .prev-page-nav-button {
        cursor: pointer;
        color: $secondary-color;
        font-weight: bold;
    }
}

.primary-text {
    color: $primary-color;
    font-weight: bold;
}

.secondary-text {
    color: $secondary-color;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    color: $secondary-color;
}

.inc-button, .dec-button {
    padding: 1px 10px;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
}

.delete-button {
    padding: 5px;
    color: $secondary-color;
    font-weight: bold;
    cursor: pointer;
}

/* Auto complete Styles */
.auto-complete {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    .search-bar {
        width: 400px;

        input[type="text"] {
            width: 100%;
            padding: 5px 5px;
            border-radius: 5px;
            border-color: $secondary-color;
        }

        input[type="text"]:hover,
        input[type="text"]:focus {
            border: 2px solid $primary-color;
        }
    }

    .auto-complete-list {
        width: 400px;
        max-height: 400px;
        overflow-y: scroll;
        box-shadow: 2px 2px 4px $primary-color;
        background-color: $primary-color;
        position: absolute;
        z-index: 101;
        top: 30px;

        .auto-complete-item {
            border-bottom: 2px solid $secondary-color;
            padding: 1rem;
            color: $secondary-color;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: white;
            }
        }
    }
}

/* Loader Styles */
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 3, 75, 0.2);
    border-right: 1.1em solid rgba(0, 3, 75, 0.2);
    border-bottom: 1.1em solid rgba(0, 3, 75, 0.2);
    border-left: 1.1em solid #00034b;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
