@import './variables';
@import './common';

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

ul {
    list-style: none;
}

img {
    display: inline-block;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Header Styles */
#app-header {
    background-color: $secondary-color;
    color: $primary-color;
    height: 72px;
    line-height: 72px;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .favourite-recipes {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            @media screen and (max-width: 640px) {
                font-size: 12px;
            }

            .favourites:hover {
                font-size: 16px;
                line-height: 32px;
                border-bottom: 2px solid $primary-color;
                transition: all 0.5s;
            }

            .recipes {
                position: absolute;
                top: 72px;
                background-color: $background-color;
                z-index: 101;
                box-shadow: 2px 2px 4px grey;
                width: 300px;
                max-height: 400px;
                overflow-y: scroll;

                .recipe {
                    border-bottom: 2px solid $secondary-color;
                    padding: 1rem;
                    color: $secondary-color;
                    font-weight: bold;
                    cursor: pointer;
                    line-height: 2rem;

                    @media screen and (max-width: 640px) {
                        padding: .5rem;
                    }

                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}

/* Main Section Styles */
#app-main {
    display: grid;
    grid-template-columns: repeat(4, [column-start] minmax(0, 1fr) [column-end]);
    justify-items: center;
    grid-gap: 10px;

    @media screen and (max-width: 640px) {
        grid-gap: 5px;
    }

    /* Recipe List Section Styles */
    #recipe-list-section {
        grid-column: column-start 1 / column-end 1;
        padding: 1rem 0;
        background-color: $primary-color;
        width: 100%;
        overflow-x: hidden;

        @media screen and (max-width: 640px) {
            padding: .5rem 0;
        }

        .no-recipe-placeholder {
            text-align: center;
            height: calc(100vh - 134px);
            line-height: calc(100vh - 134px);
        }

        .recipe-items {
            color: $secondary-color;

            .recipe-item {
                padding: 1rem 1rem;

                @media screen and (max-width: 640px) {
                    padding: .25rem .25rem;
                }

                &:hover {
                    background-color: white;
                }
            }

            .selected-recipe {
                background-color: white;
            }
        }
    }

    /* Recipe Details Section Styles */
    #recipe-details-section {
        grid-column: column-start 2 / column-end 3;
        padding: 1rem 0;

        @media screen and (max-width: 640px) {
            padding: .25rem 0;
        }

        .recipe-details {
            margin: 2rem 0;

            @media screen and (max-width: 640px) {
                margin: .5rem 0;
            }

            .recipe-image-container {
                margin: 1.5rem 0;

                @media screen and (max-width: 640px) {
                    margin: 1rem 0;
                }

                .recipe-image {
                    width: 400px;
                    height: 300px;

                    @media screen and (max-width: 640px) {
                        width: 100px;
                        height: 100px;
                    }
                }
            }

            .servings-time {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;

                @media screen and (max-width: 640px) {
                    font-size: 6px;
                }

                .favourite {
                    text-decoration: underline;
                    font-style: italic;
                    cursor: pointer;
                }

                .add-text {
                    color: green;
                }

                .remove-text {
                    color: red;
                }
            }

            .recipe-ingredients {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 1rem 0;
                grid-gap: 10px;

                @media screen and (max-width: 640px) {
                    font-size: 8px;
                    grid-gap: 5px;
                }
            }

            .add-to-cart-button {
                width: 50%;
                margin: auto;
                padding: 0.5rem;
                background-color: $primary-color;
                color: $secondary-color;
                font-weight: bold;
                cursor: pointer;

                @media screen and (max-width: 640px) {
                    font-size: 12px;
                }
            }

            .cooking-directions {
                margin: 2rem 0;

                @media screen and (max-width: 640px) {
                    font-size: 8px;
                }

                .direction-title {
                    margin: 1rem 0;
                }

                .direction-button {
                    width: 50%;
                    margin: auto;
                    padding: 1rem;
                    color: $secondary-color;
                    text-decoration: underline;
                    font-weight: bold;
                    cursor: pointer;

                    @media screen and (max-width: 640px) {
                        padding: 1rem 0.25rem;
                    }
                }
            }
        }
    }

    /* Shopping List Section Styles */
    #shopping-list-section {
        grid-column: column-start 4 / column-end 4;
        background-color: $primary-color;
        width: 100%;
        padding: 1rem 0;
        overflow-x: hidden;

        @media screen and (max-width: 640px) {
            padding: .5rem 0;
        }

        .cart-items {
            color: $secondary-color;

            @media screen and (max-width: 640px) {
                font-size: 6px;
            }

            .cart-item {
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 0.5fr);
                padding: 1rem 1rem;
                align-items: center;

                @media screen and (max-width: 640px) {
                    padding: .25rem .25rem;
                }

                &:hover {
                    background-color: white;
                }

                .item-unit {
                    font-style: italic;
                    font-weight: bold;
                }

                .item-count {
                    max-height: 30px;
                }
            }
        }
    }
}